@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Zing+Script&family=Angst&display=swap');
@import 'keen-slider/keen-slider.min.css';

html {
  scroll-behavior: smooth;
}
body {
  background-color: #C8BFB5;
  color: #1f2937;
  font-family: 'Angst', sans-serif;
}